.container{
    display: flex;
    justify-content: space-between;
    margin: 1% 1%;
    height: 95vh;
}

.block1{
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    background-color: gainsboro;
    margin-right: 10px;
    padding: 1% 1%;
}

.block2{
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    background-color: gainsboro;
    padding: 1% 1%;
}

.bottom{
    display: flex;
}

.message1{
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow-y: auto;
    margin-bottom: 1%;
    
}

.message2{
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow-y: auto;
    margin-bottom: 1%;
}

#message-block1{
    margin-right: 1%;
    flex: 6;
}

#button1{
    margin-right: 1%;
    flex: 1;
}

#message-block2{
    margin-right: 1%;
    flex: 6;
}

#button2{
    margin-right: 1%;
    flex: 1;
}