body{
    font-family: Karla;
}

.mobile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 7%;
}

#hamburger-menu{
    display: none;
}

.menu-list1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.menu-list-val1{
    font-size: x-large;
    color: white;
    text-decoration: none;
    display: block;
    outline: none;
    padding: 10%;
    white-space: nowrap;
}

.menu-list{
    display: none;
}

.menu-list-button1{
    color: #ffffff;
    background-color: transparent;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 10%;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
}

#image-menu{
    outline: none;
}

#menu-bg-image{
    display: inline-block;
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 700px){

    .class-button{
        display: none;
    }

    .header-class{
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        margin: 1.5% 10%;
        width: 80%;
    }

    .menu-list{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-header{
        margin: 0;
    }

    .menu-list-button:hover{
        background-color: #000000;
        color: #ffffff;
        cursor: pointer;
    }

    .menu-list-val:hover{
        color: #000000;
    }

    .menu-list-button{
        border: #000000 solid;
        font-size: medium;
        text-decoration: solid;
        background-color: #ffffff;
        padding: 10px 25px;
        outline: none;
    }

    .menu-list-val{
        color: #888788;
        font-size: large;
        text-decoration: none;
        outline: none;
        padding-right: 1.5vw;
    }

    .insure-icon{
        outline: none;
    }
}